.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    background-image: url('../../Images/l3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container::before {
    content: '';
    display: block;
    width: 100px; /* Adjust width and height as needed */
    height: 100px; /* Adjust width and height as needed */
    background-image: url('../../Images/p3.png'); /* Adjust the path as necessary */
    background-size: contain; /* Ensures the image is contained within the dimensions */
    background-repeat: no-repeat;
    position: absolute;
    top: 20px; /* Adjust vertical positioning as needed */
    left: 20px; /* Adjust horizontal positioning as needed */
}

@font-face {
    font-family: 'PorscheFont';
    src: url('../../fonts/911porschav3semital.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.title {
    font-family: 'PorscheFont', sans-serif;
    font-size: 2rem;
    color: #333;
    margin-bottom: 2rem;
}

.form {
    font-family: 'PorscheFont', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button {
    font-family: 'PorscheFont', sans-serif;
    font-size: large;
    width: 100%;
    padding: 0.5rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #555;
}

.message {
    margin-top: 1rem;
}

.success {
    color: green;
}

.error {
    color: red;
}

.input-group {
    position: relative;
    margin-bottom: 1rem;
}

.input {
    border: solid 1.5px #9e9e9e;
    border-radius: 7px;
    background: none;
    padding: 15px;
    font-size: 18px;
    color: #f5f5f5;
    transition: border-color 0.3s ease;
}

.input:focus,
.input:valid {
    outline: none;
    border: 1.5px solid #fff;
}

.input:focus ~ .label,
.input:valid ~ .label {
    transform: translateX(-10%) translateY(-50%) scale(0.9);
    background-color: #212121;
    padding: 0 0.2em;
    color: #fff;
}

.label {
    position: absolute;
    left: 15px;
    color: #9e9e9e;
    pointer-events: none;
    transform: translateY(15px);
    font-size: 18px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}