body {
    background-image: url('../../Images/p3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container2{
    font-family: PorscheFont4, serif;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    justify-content: normal;
    height: 100vh;
    color: white;
    background-color: #282c34;
    background-image: url('../../Images/c3.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.contactus{
    font-family: 'PorscheFont3', serif;
}

@font-face {
    font-family: 'PorscheFont3';
    src: url('../../fonts/911porschav3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PorscheFont4';
    src: url('../../fonts/PorscheNext-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
