@font-face {
    font-family: 'porsche_font';
    src: url('../../fonts/911porschav3.ttf') format('truetype');
}

@font-face {
    font-family: 'porsche_font2';
    src: url('../../fonts/PorscheNext-Regular.otf') format('truetype');
}

body {
    font-family: 'porsche_font', fallback-fonts, serif;
}

p {
    font-family: 'porsche_font2', fallback-fonts, serif;
    font-size: 20px;
}

video {
    object-fit: fill;
    z-index: -1;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.overlay-Text {
    position: absolute;
    top: 80%;
    left: 3%;
    font-size: 50px;
    color: white;
    font-family: 'porsche_font', fallback-fonts, serif;
}